.checkbox {
  display: block;
  position: relative;
  outline: none;
  cursor: pointer;
  max-width: 28px;
  flex: 1 0 28px;
  height: 28px;
  appearance: none;
  -webkit-appearance: none;
  background-color: hsl(245, 20%, 4%);
  border-radius: 5px;
  box-shadow: 0 0 1px hsl(245 50% 50% / 0.1), 0 0 0 1px hsl(245 50% 50% / 0.5),
    0 0 0 -0.4px hsl(245 50% 50%);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  &:after {
    content: '';
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 7px;
    height: 14px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
  }
  &:checked {
    background-color: hsl(245 50% 50%);
    &:after {
      opacity: 1;
      visibility: visible;
    }
  }
  &:hover {
    box-shadow: 0 0 0 hsl(240 15% 10%), 0 0 0 1px hsl(245 50% 50%),
      0 0 0 6px hsl(245 50% 50% / 0.3);
  }
}
