.select {
  outline: none;
  cursor: pointer;
  background-color: #cccdde;
  border-radius: 5px;
  color: #585858;
  height: 40px;
  font-size: calc(18px / 16px) + rem;
  font-weight: 700;
  padding: 0px 15px 0px 8px;
  transition: box-shadow 0.3s ease;
  &:hover {
    box-shadow: 0px 0px 8px #cccdde;
  }
}
