.container {
  max-width: 48.75rem;
  margin: 0 auto;
  padding-inline: 0.9375rem;
  @media (max-width: 424px) {
    padding: 0 0.5rem;
  }
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  padding-block: 2.5rem;
  text-transform: uppercase;
  @media (max-width: 767px) {
    padding: 1.25rem 0px 0.625rem 0px;
    font-size: 1.625rem;
  }
}

.header {
  padding-top: 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  .column {
    flex: 0 1 25%;
    &:last-child {
      display: flex;
      justify-content: flex-end;
    }
    &:nth-child(2) {
      flex: 0 1 50%;
      @media (max-width: 550px) {
        flex: 0 1 80%;
        label {
          font-size: 0.875rem;
        }
      }
    }
  }
  @media (max-width: 550px) {
    gap: 1.25rem;
    .column {
      flex: 0 1 100%;
      justify-content: center;
      &:first-child {
        display: flex;
        justify-content: center;
        flex: 0 1 8.75rem;
        order: 2;
      }
      &:last-child {
        order: 3;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -20px);
        @media (max-width: 550px) {
          button {
            font-size: 1rem;
          }
        }
      }
      button {
        width: 100%;
      }
      select {
        width: 100%;
        font-size: 0.9375rem;
        padding: 0;
      }
    }
  }
  @media (max-width: 374px) {
    gap: 0.625rem;
  }
}
