$background-dark: #16161d;
$text-color-light: #d7d7ea;
$border-light: #6c63ff80;
$primary-color: #4040bf;
$primary-hover: #2b2b91;
$secondary-background: transparent;
$secondary-color: $primary-color;
$checkbox-bg: #08080c;
$checkbox-shadow: #4a40bf;
$modal-overlay: #17171cb3;
$modal-shadow: #08080c;
$modal-border: #4a40bf;
$close-btn-bg: #d13415;
$select-bg: #cccdde;
$select-text: #585858;
