.list {
  margin: 2.5rem auto 0 auto;
  margin-top: 2.5rem;
  max-width: 34.375rem;
}

.empty {
  background-color: #2a2a37;
  width: 5.9375rem;
  height: 2.1875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  border-radius: 0.3125rem;
}
